nodered/flows_enki.json
[{"type":"tab","id":"b439db2.f4bc628","label":"Sheet 1"},{"id":"e54365c4.1abc98","type":"mqtt-broker","broker":"qa-trunk.m2mop.net","port":"1883","clientid":""},{"id":"3d426ec2.c2bd92","type":"mqtt-broker","broker":"api.xively.com","port":"1883","clientid":""},{"id":"9dc0f3a0.623f1","type":"websocket-listener","path":"/ws/tasks","wholemsg":"false"},{"id":"197f0c77.e680f4","type":"mqtt out","name":"Publish","topic":"789654123/messages/json","broker":"e54365c4.1abc98","x":997,"y":376,"z":"b439db2.f4bc628","wires":[]},{"id":"7a7e046c.8581fc","type":"inject","name":"Inject test data","topic":"","payload":"{ \"test.temperature\": 23.2 }","payloadType":"string","repeat":"","crontab":"","once":false,"x":472,"y":400,"z":"b439db2.f4bc628","wires":[["73fe2cb9.8c01d4"]]},{"id":"73fe2cb9.8c01d4","type":"json","name":"","x":788,"y":328,"z":"b439db2.f4bc628","wires":[["197f0c77.e680f4","a7b6ed3f.58491"]]},{"id":"a7b6ed3f.58491","type":"debug","name":"data debug","active":true,"console":"false","complete":"false","x":996,"y":193,"z":"b439db2.f4bc628","wires":[]},{"id":"264dd811.d9b228","type":"mqtt in","name":"Receive","topic":"789654123/tasks/json","broker":"e54365c4.1abc98","x":176,"y":602,"z":"b439db2.f4bc628","wires":[["cf0b4cd.f30f4b","6e2425fc.91dbdc"]]},{"id":"cf0b4cd.f30f4b","type":"json","name":"","x":417,"y":607,"z":"b439db2.f4bc628","wires":[["d0abfc1d.2f54"]]},{"id":"6e2425fc.91dbdc","type":"debug","name":"Received tasks","active":true,"console":"false","complete":"false","x":599,"y":520,"z":"b439db2.f4bc628","wires":[]},{"id":"efada24d.10526","type":"http in","name":"Publish API","url":"/publish","method":"post","x":169,"y":182,"z":"b439db2.f4bc628","wires":[["ea42f702.15bd08","b86c9033.47937","b0725857.4f8da8"]]},{"id":"ea42f702.15bd08","type":"debug","name":"http debug","active":true,"console":"false","complete":"false","x":475,"y":155,"z":"b439db2.f4bc628","wires":[]},{"id":"b86c9033.47937","type":"http response","name":"Publish response","x":471,"y":45,"z":"b439db2.f4bc628","wires":[]},{"id":"b0725857.4f8da8","type":"function","name":"Format task payload","func":"\nvar payload = {};\n\nfor(i in msg.payload) {\n\tpayload[msg.payload[i].path] = msg.payload[i].value;\n}\n\n\nreturn {payload: payload};","outputs":1,"x":474,"y":266,"z":"b439db2.f4bc628","wires":[["73fe2cb9.8c01d4"]]},{"id":"d0abfc1d.2f54","type":"websocket out","name":"Tasks websocket","server":"9dc0f3a0.623f1","x":718,"y":608,"z":"b439db2.f4bc628","wires":[]}]